@font-face {
    font-family: 'IBMPlexMono-Regular';
    src: url('IBMPlexMono-Regular.ttf');
  }
  

  /* TEXT STYLING  */
  
  @keyframes move-bg {
    to {
      background-position: 400% 0;
    }
  }
  
  h1 {
    font-size: 3em;
    color: #5755FE;
    margin: 0;
    font-weight: 600;
    letter-spacing: 0.05em;
    background: linear-gradient(
      -45deg,
      #5755FE,
      #c46bee,
      #5755FE
    ) 0 0 / 400% 100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: move-bg 15s infinite linear;
  }
  
  h2 {
    font-size: 2.25em;
    color: #5755FE;
  }
  
  h3 {
    font-size: 1.76em;
    color: #5755FE;
  }
  
  h4 {
    font-size: 1.5em;
    color: #5755FE;
  }
  
  h5 {
    font-size: 1.25em;
  }
  
  p {
    color: #727696;
    text-align: justify;
  }
  

  /* NavBar */

#top-padding {
    height: 2vh;
    grid-column: span 3;
}

.navwrapper {
  position: fixed !important;
  z-index: 2;
  width: 100%;
}

.navbar {
  height: 20px;
  padding-top: 8px;
  padding-bottom: 12px;
  grid-column: span 3;
  max-width: 1376px;
  width: 100%;
  margin: auto;
  margin-top: 13px;
  border: #D9D9D9 1px solid;
  border-radius: 5px;
  background: rgba( 240, 249, 255, 0.35 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
}

nav {
  margin: auto;
  width: fit-content;
  float: center;
}

nav a {
  font-family: "IBMPlexMono-Regular";
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.8em;
  cursor: pointer;
  transition: color 0.4s ease-in-out;
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: #2733df;
}
